<div class="flex flex-col gap-4">
  <h2>
    Task List
  </h2>
  <input class="search" type="text" [placeholder]="'search'" [(ngModel)]="searchText" (ngModelChange)="onSearch($event)">
  <select name="filter" id="filter" (change)="onSelect($event)">
    <option value="all">All</option>
    <option value="active">Active</option>
    <option value="completed">Completed</option>
  </select>

  <select name="sort" id="sort" (change)="onSort($event)">
    <option value="default">default</option>
    <option value="date">Sort by Date</option>
    <option value="text">Text</option>
  </select>

  <ul class="flex flex-col gap-2">
    <li class="flex gap-2" *ngFor="let taskItem of filteredTaskLists">
      <app-task-list-item [task]="taskItem"></app-task-list-item>
    </li>
  </ul>
</div>