<form [formGroup]="registerForm" class="flex flex-col items-start gap-2" action="">
  <input formControlName="firstName" type="text" name="firstname" placeholder="firstname"
    class="p-2 outline-1 -outline-offset-1 outline-gray-300" (keyup)="checkValid()">
  <input formControlName="lastName" type="text" name="lastname" placeholder="lastname"
    class="p-2 outline-1 -outline-offset-1 outline-gray-300" (keyup)="checkValid()">
  <input formControlName="email" type="email" name="email" placeholder="email"
    class="p-2 outline-1 -outline-offset-1 outline-gray-300" (keyup)="checkValid()">
  <input formControlName="password" type="password" name="password" placeholder="password"
    class="p-2 outline-1 -outline-offset-1 outline-gray-300" (keyup)="checkValid()">
  <button [disabled]="disableBtn" class="bg-gray-300 rounded-lg text-black py-2 px-4 disabled:bg-gray-100" type="submit"
    (click)="register()">Submit</button>
</form>