<div class="flex">
  <input type="checkbox" [checked]="task.completed">
  <ng-container *ngIf="!isUpdateForm">
    {{task.title}}
    <button (click)="onUpdate(task)">Update</button>
  </ng-container>
  <ng-container *ngIf="isUpdateForm">
    <input type="text" [(ngModel)]="updatedTitle" />
    <button (click)="onCancel()">Cancel</button>
    <button (click)="updateItem(task, updatedTitle)">Save</button>
  </ng-container>
  {{formattedDate}}
  <button (click)=" onDelete(task)">Delete</button>
</div>